body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(16, 82, 102, 0.863);
}

#mainContainer {
    display: flex;
    width: 1500px;
}

p {
    text-align: center;
    margin-bottom: 0;
}

.form {
    display: flex;
    height: 50px;
    padding: 20px;
}

#input {
    text-align: center;
    font-size: large;
    width: 80px;
}

.colors {
    margin-left: 50px;
    border-radius: 50%;
    border: white double 5px;
    width: 3rem;
    height: 3rem;   
}

/* GRID CONTAINER */

.container {
    display: flex;
    width: 750px;
    height: 750px;
    flex-direction: row;
    align-content: center;
}

.width {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.squares {
    flex: 1 1 auto;
    border: solid rgb(192, 190, 190) 1px;
}

.H:hover{
    background-color: black;
}

.palette {
    align-self: center;
    display: flex;
    flex-direction: column;
}

#gridPlusPalette {
    display: flex;
    flex-direction: row;
}
